footer {
  background-color: var(--footer-color);
  padding: 80px 0;
  font-family: Futura_Book;
}
footer h6,
ul,
li {
  color: var(--primary-color);
}
footer .about h6 {
  text-transform: capitalize;
}
footer .about p {
  color: var(--primary-color);
}
footer .about li {
  padding-bottom: 14px;
  text-transform: capitalize;
  width: fit-content;
  position: relative;
}
footer .about a {
  color: var(--primary-color);
  transition: all 0.5s;
}
footer .about li::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 10px;
  left: 0;
  opacity: 0;
  transition: all 0.4s;
  padding-bottom: 0;
}
footer .about li:hover::after {
  opacity: 1;
  width: 100%;
}
footer .about li:hover a {
  color: var(--secand-color);
}
footer .about .get {
  margin-bottom: 20px;
}
footer .about input {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  padding: 10px;
  margin-bottom: 30px;
}
footer .about input:focus {
  outline: none;
}
footer .about input::placeholder {
  color: var(--primary-color);
}
footer .about .bttn {
  padding: 10px 35px;
  background-color: var(--secand-color);
  border: 1px solid transparent;
  color: var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 30px;
  transition: all 0.5s;
}
footer .about .bttn:hover {
  background-color: var(--scroll-color);
}
footer .about .social a {
  margin-inline-end: 30px;
}